{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<h1>Records Uploaded </h1>
	<div class="prescriptions">
		{% for prescription in prescriptions %}
			{% if user.is_authenticated %}
				{% if request.user == prescription.username %}
			<div class ="card hoverable">
				<div class="card-content">
					<i class="medium material-icons">content_paste</i>
					<div class="prescription">
						<h2 style="color:black">Prescription Name:  {{prescription.record}}</h2>
						{% if user.is_patient %}
							<h3>Prescribed By Doctor:  {{prescription.name}}</h3>
						{% else %}
							<h3>Prescribed For Patient:  {{prescription.name}}</h3>
						{% endif %}
						<!-- <p><a class ="download" href="{{prescription.image.url}}" class="btn btn-primary btn-sm">Download {{prescription.image}}</a></p> -->
						<a href="{% url 'prescription:download' prescription.pk %}"><button class="btn-large" style="border-radius: 20px;">Download</button></a>
						<a href="{% url 'prescription:view' prescription.pk %}"><button class="btn-large" style="border-radius: 20px;">View</button></a>
						<button class="btn-large copy-btn" style="border-radius: 20px;"data-pk="{{ prescription.pk }}">Copy Unique Key</button>
						<br>
						<br>
						<div class="delete">
							<form class="delete_form" action="{% url 'prescription:delete' prescription.pk %}" method="post">
								{% csrf_token %}
								<input type="submit" class="btn-large" style="border-radius: 20px;" value="Delete">
							</form>
						</div>
					</div>
				</div>
			</div>
					<br>
					<br>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
	<!-- <h1>XRays Uploaded </h1> -->
	<!-- <h1>Upload new XRay</h1> -->
	<h1>Upload new Prescription</h1>
		<a href="{% url 'prescription:upload'%}"><button class=" btn-large" style="border-radius: 20px;">Upload Prescriptions</button></a>
	<h1>Upload new XRay</h1>
		<a href="{% url 'prescription:xray'%}"><button class="btn-large" style="border-radius: 20px;">Upload XRay</button></a>
	<h1>View Previous XRay's</h1>
		<a href="{% url 'prescription:xray_list' %}"><button class="btn-large" style="border-radius: 20px;">Uploaded XRay's</button></a>
	<h1>Access a Prescription</h1>
	<form action="/record/doctor_view/" method="POST">
		{% csrf_token %}
		<input type="text" class="input" style="color:#fff" name="pk" />
		<button type="submit" class="btn-large" style="border-radius: 20px;">Access</button>
	</form>
	<script>
		  let copyBtns = document.querySelectorAll('.copy-btn');
        copyBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                let pk = btn.getAttribute('data-pk');
                let tempInput = document.createElement('input');
                tempInput.value = pk;
                document.body.appendChild(tempInput);
                tempInput.select();
                document.execCommand('copy');
                document.body.removeChild(tempInput);
                alert('Copied PK: ' + pk);
            });
        });
		</script>
{% endblock %}