{% extends 'base.html' %}
{% block content %}
	<i class="large material-icons" style="color:white">image</i>
	<br>
	<br>
	<div>
		<h2 style="color:rgb(239, 236, 236)">Prescription Name:  {{prescription.record}}</h2>
						{% if user.is_patient %}
							<h3 style="color:rgb(239, 236, 236)">Prescribed By Doctor:  {{prescription.username}}</h3>
						{% else %}
							<h3 style="color:rgb(239, 236, 236)">Prescribed For Patient:  {{prescription.username}}</h3>
						{% endif %}
		<img class='image'src="{{prescription.image.url}}" style="padding:1px;border:thick solid red;" >
	</div>
	<br>
	<br>
	<div class="back">
		<a href="{% url 'prescription:download' prescription.pk %}"><button class="btn-large"style="border-radius: 20px;">Download</button></a>
		<a href="{% url 'prescription:list'%}"><button class=" btn-large "style="border-radius: 20px;">Go Back</button></a>
	</div>
{% endblock %}